In [1]:
import pandas as pd

In [2]:
olist_order_items = pd.read_csv('brazilian-ecommerce/olist_order_items_dataset.csv')
olist_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [3]:
olist_order_dataset = pd.read_csv('brazilian-ecommerce/olist_orders_dataset.csv')
olist_order_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [4]:
order_all = pd.merge(olist_order_items, olist_order_dataset, on='order_id', how='inner')

#order_all.info()

filter_dates = order_all[(order_all['order_delivered_customer_date'].notnull() & order_all['order_delivered_carrier_date'].notnull() & order_all['order_purchase_timestamp'].notnull())]

order_all['difference_days_carrier_to_delivered'] = (pd.to_datetime(filter_dates['order_delivered_customer_date']) - pd.to_datetime(filter_dates['order_delivered_carrier_date'])).dt.days
order_all['difference_days_estimated_to_delivered'] = (pd.to_datetime(filter_dates['order_delivered_customer_date']) - pd.to_datetime(filter_dates['order_estimated_delivery_date'])).dt.days
#order_all['difference_days_purchase_to_carrier'] = (pd.to_datetime(filter_dates['order_delivered_carrier_date']) - pd.to_datetime(filter_dates['order_purchase_timestamp'])).dt.days

order_all = order_all.drop(['seller_id', 'shipping_limit_date', 'order_approved_at', 'order_purchase_timestamp', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date'], axis=1)

order_all[(order_all['difference_days_carrier_to_delivered'].isnull())].head()
#order_all[(order_all['order_id'] == 'ffea406a848c8afe4dec22bf6290ba00')]

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered
79,002f19a65a2ddd70a090297872e6d64e,1,9eae06d51aaa383b2bed5547a19d581c,53.98,23.31,7fa80efb1ef15ca4104627910c29791c,shipped,NaN,NaN
84,00310b0c75bb13015ec4d82d341865a4,1,c8e7c2ef329fcda4a233e7e2f8bb8b7d,39.90,15.38,0dad07848c618cc5a4679a1bfe1db8d2,canceled,NaN,NaN
260,00a99c50fdff7e36262caba33821875a,1,76d75f398634bf194ba99d7297e7d1fa,52.99,22.30,7a399396442d5601cbedfbd0a3cf1da4,shipped,NaN,NaN
270,00ae7a8b4936674ebb701d4a23719a79,1,66f09a6de4f2ef63aaf5349b60a0e0c0,27.90,9.26,a7e8a3cb55d9c9a536992c6465a46a3f,canceled,NaN,NaN
422,00ff0cf5583758e6964723e42f111bf4,1,bb1fe952bdc16ef8974d4ca11aec19b7,154.90,15.25,e3626ed5d1f2e3a02d692ec948b25eeb,canceled,NaN,NaN

In [5]:
order_all['time_to_carrier'] = 'NA'
order_all.loc[(order_all['difference_days_carrier_to_delivered'] >= 5) & order_all['difference_days_carrier_to_delivered'].notnull(), 'time_to_carrier'] = 'late'
order_all.loc[(order_all['difference_days_carrier_to_delivered'] < 5) & order_all['difference_days_carrier_to_delivered'].notnull(), 'time_to_carrier'] = 'normal'


order_all['time_to_delivered'] = 'NA'
order_all.loc[(order_all['difference_days_estimated_to_delivered'] >= 1) & order_all['difference_days_estimated_to_delivered'].notnull(), 'time_to_delivered'] = 'late'
order_all.loc[(order_all['difference_days_estimated_to_delivered'] == 0) & order_all['difference_days_estimated_to_delivered'].notnull(), 'time_to_delivered'] = 'normal'
order_all.loc[(order_all['difference_days_estimated_to_delivered'] < 0) & order_all['difference_days_estimated_to_delivered'].notnull(), 'time_to_delivered'] = 'advanced'

order_all.head()

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered,time_to_carrier,time_to_delivered
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,1.0,-9.0,normal,advanced
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,8.0,-3.0,late,advanced
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,6.0,-14.0,late,advanced
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,4.0,-6.0,normal,advanced
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,13.0,-16.0,late,advanced

In [6]:
order_all[["order_id", "order_status"]].groupby(['order_status'], as_index=False).count()

#order_all[(order_all['order_status'] == 'approved')][['order_id', 'order_approved_at', 'order_purchase_timestamp', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']]

  order_status  order_id
0     approved         3
1     canceled       542
2    delivered    110197
3     invoiced       359
4   processing       357
5      shipped      1185
6  unavailable         7

In [7]:
customer = pd.read_csv('brazilian-ecommerce/olist_customers_dataset.csv')
customer = customer.drop(['customer_unique_id', 'customer_zip_code_prefix'], axis=1)
customer.head()

                        customer_id          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP

In [8]:
customer_all = pd.merge(order_all, customer, on='customer_id', how='inner')
customer_all.head()

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered,time_to_carrier,time_to_delivered,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,1.0,-9.0,normal,advanced,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,8.0,-3.0,late,advanced,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,6.0,-14.0,late,advanced,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,4.0,-6.0,normal,advanced,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,13.0,-16.0,late,advanced,varzea paulista,SP

In [43]:
customer_all[["customer_id", "customer_state"]].groupby(['customer_state'], as_index=False).count()

   customer_state  customer_id
0              AC           92
1              AL          444
2              AM          165
3              AP           82
4              BA         3799
5              CE         1478
6              DF         2406
7              ES         2256
8              GO         2333
9              MA          824
10             MG        13129
11             MS          819
12             MT         1055
13             PA         1080
14             PB          602
15             PE         1806
16             PI          542
17             PR         5740
18             RJ        14579
19             RN          529
20             RO          278
21             RR           52
22             RS         6235
23             SC         4176
24             SE          385
25             SP        47449
26             TO          315

In [32]:
#customer_all.groupby('customer_state')['customer_id'].nunique()
customer_all['customer_id'].nunique()
#customer_all.info()

98666

In [9]:
produts = pd.read_csv('brazilian-ecommerce/olist_products_dataset.csv')
produts = produts.drop(['product_name_lenght', 'product_length_cm', 'product_height_cm', 'product_height_cm', 'product_width_cm' ], axis=1)
produts.head()

,product_id,product_category_name,product_description_lenght,product_photos_qty,product_weight_g
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,287.0,1.0,225.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,276.0,1.0,1000.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,250.0,1.0,154.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,261.0,1.0,371.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,402.0,4.0,625.0

In [10]:
customer_all = pd.merge(customer_all, produts, on='product_id', how='inner')
customer_all.head()

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered,time_to_carrier,time_to_delivered,customer_city,customer_state,product_category_name,product_description_lenght,product_photos_qty,product_weight_g
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,1.0,-9.0,normal,advanced,campos dos goytacazes,RJ,cool_stuff,598.0,4.0,650.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,8.0,-13.0,late,advanced,jatai,GO,cool_stuff,598.0,4.0,650.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,12.0,-3.0,late,advanced,belo horizonte,MG,cool_stuff,598.0,4.0,650.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,58.9,16.17,30407a72ad8b3f4df4d15369126b20c9,delivered,7.0,-16.0,late,advanced,sao jose dos pinhais,PR,cool_stuff,598.0,4.0,650.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,91a792fef70ecd8cc69d3c7feb3d12da,delivered,13.0,-8.0,late,advanced,conselheiro lafaiete,MG,cool_stuff,598.0,4.0,650.0

In [11]:
# Adicionando o dataset de pagamento

payment = pd.read_csv('brazilian-ecommerce/olist_order_payments_dataset.csv')
payment.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [12]:
# Merge do datase de customer com o de pagamento

customer_all = pd.merge(customer_all, payment, on='order_id', how='inner')
customer_all.head()

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered,time_to_carrier,...,customer_city,customer_state,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,payment_sequential,payment_type,payment_installments,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,1.0,-9.0,normal,...,campos dos goytacazes,RJ,cool_stuff,598.0,4.0,650.0,1,credit_card,2,72.19
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,8.0,-13.0,late,...,jatai,GO,cool_stuff,598.0,4.0,650.0,1,boleto,1,73.86
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,12.0,-3.0,late,...,belo horizonte,MG,cool_stuff,598.0,4.0,650.0,1,credit_card,2,83.23
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,58.9,16.17,30407a72ad8b3f4df4d15369126b20c9,delivered,7.0,-16.0,late,...,sao jose dos pinhais,PR,cool_stuff,598.0,4.0,650.0,1,credit_card,3,75.07
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,91a792fef70ecd8cc69d3c7feb3d12da,delivered,13.0,-8.0,late,...,conselheiro lafaiete,MG,cool_stuff,598.0,4.0,650.0,1,credit_card,4,72.19

In [13]:
reviews = pd.read_csv('brazilian-ecommerce/olist_order_reviews_dataset.csv')
reviews = reviews.drop(['review_id', 'review_comment_title', 'review_creation_date', 'review_answer_timestamp' ], axis=1)

reviews[(reviews['review_comment_message'].notnull())].head()

,order_id,review_score,review_comment_message
3,658677c97b385a9be170737859d3511b,5,Recebi bem antes do prazo estipulado.
4,8e6bfb81e283fa7e4f11123a3fb894f1,5,Parabéns lojas lannister adorei comprar pela I...
9,b9bf720beb4ab3728760088589c62129,4,aparelho eficiente. no site a marca do aparelh...
12,9d6f15f95d01e79bd1349cc208361f09,4,"Mas um pouco ,travando...pelo valor ta Boa.\r\n"
15,e51478e7e277a83743b6f9991dbfa3fb,5,"Vendedor confiável, produto ok e entrega antes..."

In [14]:
view_all = pd.merge(customer_all, reviews, on='order_id', how='inner')
view_all.head()

,order_id,order_item_id,product_id,price,freight_value,customer_id,order_status,difference_days_carrier_to_delivered,difference_days_estimated_to_delivered,time_to_carrier,...,product_category_name,product_description_lenght,product_photos_qty,product_weight_g,payment_sequential,payment_type,payment_installments,payment_value,review_score,review_comment_message
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,1.0,-9.0,normal,...,cool_stuff,598.0,4.0,650.0,1,credit_card,2,72.19,5,"Perfeito, produto entregue antes do combinado."
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,8.0,-13.0,late,...,cool_stuff,598.0,4.0,650.0,1,boleto,1,73.86,5,"lannister como sempre, entregou certinho e den..."
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,12.0,-3.0,late,...,cool_stuff,598.0,4.0,650.0,1,credit_card,2,83.23,4,carrinho muito bonito
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,58.9,16.17,30407a72ad8b3f4df4d15369126b20c9,delivered,7.0,-16.0,late,...,cool_stuff,598.0,4.0,650.0,1,credit_card,3,75.07,5,NaN
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,58.9,13.29,91a792fef70ecd8cc69d3c7feb3d12da,delivered,13.0,-8.0,late,...,cool_stuff,598.0,4.0,650.0,1,credit_card,4,72.19,5,NaN

In [16]:
view_all[["product_category_name","order_status", "payment_value", "time_to_carrier", "time_to_delivered", "review_score"]][(view_all['review_score'] > 3)]

,product_category_name,order_status,payment_value,time_to_carrier,time_to_delivered,review_score
0,cool_stuff,delivered,72.19,normal,advanced,5
1,cool_stuff,delivered,73.86,late,advanced,5
2,cool_stuff,delivered,83.23,late,advanced,4
3,cool_stuff,delivered,75.07,late,advanced,5
4,cool_stuff,delivered,72.19,late,advanced,5
5,cool_stuff,delivered,82.83,late,late,5
6,cool_stuff,delivered,103.40,late,advanced,5
7,cool_stuff,delivered,153.75,normal,advanced,5
8,cool_stuff,delivered,153.75,normal,advanced,5
12,pet_shop,delivered,259.83,late,advanced,4
13,moveis_decoracao,delivered,216.87,late,advanced,5
14,moveis_decoracao,delivered,388.17,late,advanced,4
15,moveis_decoracao,delivered,388.17,late,advanced,4
16,moveis_decoracao,delivered,216.87,normal,advanced,4
17,perfumaria,delivered,25.78,normal,advanced,4
18,perfumaria,delivered,25.78,late,advanced,4
19,ferramentas_jardim,delivered,218.04,late,advanced,5
21,ferramentas_jardim,delivered,220.54,late,advanced,4
22,ferramentas_jardim,delivered,227.62,normal,advanced,5
25,ferramentas_jardim,delivered,227.62,late,advanced,4
26,ferramentas_jardim,delivered,233.80,late,advanced,5
27,ferramentas_jardim,delivered,219.89,late,advanced,5
28,ferramentas_jardim,delivered,230.34,late,advanced,5
30,ferramentas_jardim,delivered,227.62,late,advanced,5
31,utilidades_domesticas,delivered,34.59,late,advanced,4
32,utilidades_domesticas,delivered,34.59,late,advanced,5
34,utilidades_domesticas,delivered,38.01,late,advanced,5
35,utilidades_domesticas,delivered,38.01,late,advanced,5
36,telefonia,delivered,31.75,late,advanced,4
37,telefonia,delivered,36.69,late,advanced,4
...,...,...,...,...,...,...
118280,informatica_acessorios,delivered,30.00,late,advanced,5
118281,moveis_sala,delivered,164.35,normal,advanced,5
118282,cool_stuff,delivered,63.27,normal,advanced,4
118284,pet_shop,delivered,90.18,late,late,5
118285,NaN,delivered,90.18,late,late,5
118286,perfumaria,delivered,20.86,late,advanced,4
118287,informatica_acessorios,delivered,617.24,late,advanced,5
118288,informatica_acessorios,delivered,617.24,late,advanced,5
118289,informatica_acessorios,delivered,617.24,late,advanced,5
118290,utilidades_domesticas,delivered,56.24,normal,advanced,5
118291,utilidades_domesticas,delivered,60.09,late,advanced,5
118292,cama_mesa_banho,delivered,97.69,normal,advanced,4
118293,papelaria,delivered,185.85,normal,advanced,5
118295,moveis_decoracao,delivered,99.31,late,advanced,5
118296,cama_mesa_banho,delivered,137.14,late,advanced,5
118297,eletrodomesticos,delivered,172.09,late,advanced,5
118298,informatica_acessorios,delivered,366.80,late,advanced,4
118299,artigos_de_natal,delivered,89.70,late,advanced,4
118300,artigos_de_natal,delivered,89.70,late,advanced,4
118301,artigos_de_natal,delivered,89.70,late,advanced,4
118302,eletronicos,delivered,112.38,late,advanced,4
118303,informatica_acessorios,delivered,317.79,late,advanced,4
118306,brinquedos,delivered,69.58,late,advanced,4
118307,brinquedos,delivered,69.58,late,advanced,4
118308,alimentos_bebidas,delivered,52.59,normal,advanced,5
118310,ferramentas_jardim,delivered,181.10,late,advanced,5
118311,moveis_decoracao,delivered,112.52,normal,advanced,4
118312,relogios_presentes,delivered,756.91,late,advanced,5
118313,esporte_lazer,delivered,273.92,late,advanced,4
118314,cama_mesa_banho,delivered,55.79,normal,advanced,5