In [4]:
import pandas as pd
import numpy as np

In [34]:
#df2 = pd.DataFrame({'A' : ['foo', 'foo', 'foo', 'foo'], 'B' : ['one','one','one','two'], 'C' : ['small','large','large','small'], 'D' : [1,2,2,3]})
#df2 = pd.DataFrame({'A' : ['foo', 'foo', 'foo', 'foo'], 'B' : ['one','one','one','two']})

df2 = pd.DataFrame({'customer_unique_id' : ['e7c828d22c0682c1565252deefbe334d', 
                                            '0bb98ba72dcc08e95f9d8cc434e9a2cc', 
                                            '840f10bde3c94907105e032d9c2fec3b', 
                                            '840f10bde3c94907105e032d9c2fec3b',
                                           '840f10bde3c94907105e032d9c2fec3b'], 
                    'time_to_delivered' : ['advanced','late','late','advanced', 'advanced']})

df2.head()

table = pd.pivot_table(df2, values=['customer_unique_id'], index=['customer_unique_id'], fill_value=0, columns=['time_to_delivered'], aggfunc=lambda x: len(x))
table.head()

time_to_delivered                 advanced  late
customer_unique_id
0bb98ba72dcc08e95f9d8cc434e9a2cc         0     1
840f10bde3c94907105e032d9c2fec3b         2     1
e7c828d22c0682c1565252deefbe334d         1     0